<template>
  <div id="app">
    <allIcons style="display:none" />
    <router-view/>
  </div>
</template>


<script>
  import Vue from 'vue'

   import allIcons from '@/assets/img/allIcons.svg';

  export default {

    components: {
      allIcons,

    }, 
    data(){
      return{
        
      }

    },
    beforeMount(){
    
    },
   
       
   
  }

</script>

<style lang="scss">
 
  $fa-font-path : "~@fortawesome/fontawesome-free-webfonts/webfonts";
  @import "~@fortawesome/fontawesome-free-webfonts/scss/fontawesome.scss";
  @import "~@fortawesome/fontawesome-free-webfonts/scss/fa-solid.scss";
  @import "~@fortawesome/fontawesome-free-webfonts/scss/fa-regular.scss";
  @import "~@fortawesome/fontawesome-free-webfonts/scss/fa-brands.scss";
  @import '~@/assets/scss/main';


  .container{
    width : 100%;
    height : auto;
    min-height:100%;
    overflow:hidden;
    position:relative;
    margin:0px auto;
    padding:0px;
    @include tablet {
      padding:0px $containerPadding;
    }
  }

.container-col{
  display:block;
  min-width:200px;
  min-height:100%;
  margin:0;

  &.col-small{
    width:100%;
    @include tablet {
      width:35%;
    }
    & .widget.wid-50{
      .widget-header-module.buttons{
        display:none;
      }
    }
  }

  &.col-big{
    width:100%;
    @include tablet {
      width:65%;
    }
  }

  &.col-left{
    float:left; padding:$widgets-dist $widgets-sep $widgets-dist $widgets-dist;
  }

  &.col-right{
    float:right; padding:$widgets-dist $widgets-dist $widgets-dist $widgets-sep;
  }

  //@import "widget";

}


.ghost-header{
  width:100%;
  background :transparent;
  visibility: hidden;
  height : 60px;
  float:left;
  position:relative;
  z-index:0;

}



.ghost-menu{
  width:100%;
  background :transparent;
  visibility: hidden;
  height : 6px;
  float:left;
  position:relative;
  z-index:0;
}

.board-menu{

  position:relative;
  top:0px;
  float:left;
  background : $theme_black;
  max-height : 6px;
  min-height : 6px;
  width:100%;
  height:auto;
  z-index:1;
  //@include transition_mix( max-height .8s ease-in-out .2s );
  overflow: hidden;

  &.active{
    max-height:none;
  }
  //@import "menu";
}

.board-panel{
  width:100%;
  height:auto;
  background-color:$theme_greys_panel_bg;
  float:left;

  .board-panel-advice{
    height:40px;
    padding:5px 0px;
    border-bottom: 1px solid #ccc;
    background-color:white;
  }
}

</style>
