.widget_single_series_groups_rate{

  .input-label{
    font-size:11px;
    color:$theme_middle;
  }

  .div-canvas{
    height:auto;
    padding: 0 20px;
    overflow:hidden;
    
   
    .div-row{
      
      height: auto;
      overflow: hidden;
      width:100%;
      margin-bottom:5px;
      // float: left;

      .div-row-left{
        width:70px;
        height:100%;
        float: left;
        font-size:12px;

      }

      .div-row-right{
        width: calc( 100% - 70px);
        height:100%;
        float: left;

        .span-reg{
          display: block;
          background-color: rgba( #fff, 0.1);
          color: #000;
          font-size: 11px;
          height: 100%;
          float: left;
          text-align: center;
          border-left:1px solid rgba( white, .4);

          &.ignore{
            
            color:rgba( #000, .4)
          }

          &.top{
            background-color: rgba( #000, 0.5);
            color: #fff;
          }
        }
      }

      .div-row-g{

        width:100%;
        float:left;
        display: flex;
        flex-direction: row;
        align-items:center;
        height:20px;

        .div-row-cell{
          height:20px;
          text-align:center;
          font-size:11px;
          color:$theme_middle;
          line-height:20px;
        }

      }

     
    }
  }


  .vLabels{
    width:50px;
    height:100%;
    min-height:100px;
    background-color:yellow;
    .vlabel{
        width:100%;
        height:10px;
    }
  }
  .hover {
    fill-opacity:1;
    fill:$theme_middle;
    cursor:pointer;
  }
  .hidden {
    display:none;
  }
  .inactive {
    background-color:#ccc !important;
  }

}
