.widget_single_groups_rate{

  .legend-item{
    min-width:50px;
    width:auto;
    overflow:hidden;
    float:left;
    padding:2px;
    .legend-item-text{
      font-size:11px;
    }
  }

  .div-canvas{
    height:auto;
    padding: 0 20px;
    overflow:hidden;
    
   
    .div-row{
      
      height: 40px;
      width:100%;
      margin-bottom:5px;
      // float: left;

      .div-row-left{
        width:70px;
        height:100%;
        float: left;
        font-size:12px;

      }

      .div-row-right{
        width: calc( 100% - 70px);
        height:100%;
        float: left;
      }

      .div-row-g{

        width:100%;
        float:left;
        display: flex;
        flex-direction: row;
        align-items:center;

        .div-row-cell{
          height:20px;
          text-align:center;
          font-size:11px;
          color:$theme_middle;
          line-height:20px;
        }

      }

     
    }
  }

  .vLabels{
    width:50px;
    height:100%;
    min-height:100px;
    background-color:yellow;
    .vlabel{
        width:100%;
        height:10px;
    }
  }
  .hover {
    fill-opacity:1;
    fill:$theme_middle;
    cursor:pointer;
  }
  .hidden {
    display:none;
  }
  .inactive {
    background-color:#ccc !important;
  }

}
