.widget_timeserie_multilayer{

  .vLabels{
    width:50px;
    height:100%;
    min-height:100px;
    background-color:yellow;

    .vlabel{
        width:100%;
        height:10px;

    }

  }

  .hover {
    fill-opacity:1;
    fill:#444;
    cursor:pointer;
  }

  .hidden {
    display:none;
  }

  .inactive {
    background-color:#ccc !important;
  }





}
