<template >
  <div class="home">
    <HeaderGhost></HeaderGhost>
    <BoardHeader></BoardHeader>
    <BoardMenu></BoardMenu>
    <Panel></Panel>

  </div>
</template>

<script>

import BoardHeader from '@/components/BoardHeader.vue';
import BoardMenu from '@/components/BoardMenu.vue';
import HeaderGhost  from '@/components/HeaderGhost.vue';
import Panel  from '@/components/Panel.vue';


export default {
  name: 'home',
  components: {
    BoardHeader,
    HeaderGhost,
    BoardMenu,
    Panel

  },
  created(){
    
  },
  
}
</script>
