<template lang="pug">
  div.board-menu(  v-bind:class="{ active: isOpen }" )
    div.container
      div.board-menu-row.separation
        div.menu-row-module.mod-100
            div.row-module-title 
                | Paneles

            div.row-module-item( v-for="(panel, panelIdx) in panels" )
                span.module-item-icon.fa( v-bind:class="'icon-' + panel.icon" )
                span.module-item-title {{panel.name}}
                span.module-item-description
                | {{panel.description}}
                    
               
</template>
<script>
export default {
    
    data(){
        return{
            isOpen:this.$store.state.isMenuOpen,
            checkboxes:[
                {
                    active:true,
                    key:"property1",
                    label:"Property 1s",
                    description:"Lorem ipsum tempra sempre"
                },
                {
                    active:false,
                    key:"property2",
                    label:"Property 2",
                    description:"Lorem ipsum"
                },
            ],
            panels:this.$store.state.panelsData
        };
    },
 
    computed:{
        isMenuOpen () {
            return this.$store.state.isMenuOpen;
        },
         loadedPanels () {
            return this.$store.state.panelsData;
        },
    },
    watch: {
        'isMenuOpen': function () {
            this.isOpen = this.isMenuOpen;
        },
        'loadedPanels': function () {
            this.panels = this.loadedPanels;
        },
    },
    methods:{
       
        toggleCheck: function( id ){
            this.checkboxes[id].active = !this.checkboxes[id].active;
        }
       
    }
  
}
</script>


<style lang="scss">

@import '~@/assets/scss/main';

$rowPadding: 15px;
$modulePaddingTop: 25px;

$itemTextSize: 12px;
$itemIconTextMargin: 8px;

.mod-100{ padding: 15px 0px;width:100%; border-bottom: 1px solid rgba($color: $white, $alpha: .1);}
.mod-70{
    width:100%;
    @include tablet {
        width:70%;
    }
}

.mod-50{
    width:100%;
    @include tablet {
        width:50%;
    }
}

.mod-30{
    width:100%;

    @include tablet {
        width:30%;
    }

   .module-item-description{
        display:none !important;
    }
}

.left{
    padding-right:15px;
}

.right{
    @include tablet {
        border-left: 1px solid rgba($color: $white, $alpha: .1);
        padding-left:15px;
    }
}

.board-menu-row{
    width:100%;
    float:left;
    clear:left;
    padding: $rowPadding 0;

    &.separation{
        border-bottom: 1px solid rgba($color: $white, $alpha: .1);
    }
}


.menu-row-module{
    height:auto;
    float:left;
    margin:0;
}

.row-module-title{
    font-family : $font-1;
    font-size : 16px;
    color :$white;
    width:100%;
    clear:right;
    display:block;
    height : 32px;
    line-height:32px;

}

.row-module-item{

    font-family : $font-1;
    font-size : $itemTextSize;
    color :$white;
    width:100%;
    clear:right;
    display:block;
    padding: 10px 0 10px $rowPadding;
    margin-bottom:10px;
    //cursor: pointer;

    .module-item-icon{
        padding-right: $itemIconTextMargin;
        color:$theme_mark;
        &.checkbox{
            &.inactived:before{  content:"\f0c8";    }
            &.actived:before{    content: "\f14a";    }
        }

        &.icon-map{
            &:before{ content: "\f3c5";    }
        }
        &.icon-product{
            &:before{ content: "\f02b";    }
        }
        &.icon-poblation{
            &:before{ content: "\f0c0";    }
        }
        &.icon-likes{
            &:before{ content: "\f004";    }
        }
    }

    .module-item-title{
        display:inline-block;
        color:$theme_mark;
        font-size:bold;
        font-size:14px;
    
    }

    .module-item-description{
        clear:left;
        display:block;
        padding-left: $rowPadding;
        margin: 5px 0px 0;
        line-height:( $itemTextSize + 1);
        font-style: italic;
        font-size:( $itemTextSize - 1);
    }

    .module-item-icon{
      display:inline-block;
    }

    // &:not(.active){
    //     .module-item-icon{
    //         &.actived{  display:none;  }
    //         &.inactived{  display:inline-block;  }
    //     }
    // }
    // &.active{
    //     .module-item-icon{
    //         &.actived{ display:inline-block; }
    //         &.inactived{  display:none; }
    //     }
    // }
}


</style>
