<template>
<div id="_BoardHeader">
    <div class="BoardHeader">
        <div class="container">
            <div class="menuLogo">
                <img src="~@/assets/img/Monitor_logo_white.png">
            </div>
            <div class="menuTab" @click='openMenu()'>
                <div class="menuTabBase">
                    <svg>
                        <use xlink:href="#menu-tab" />
                    </svg>
                </div>
                <div class="font-icon">
                    <i class="fas fa-cogs"></i>
                </div>
            </div>
        </div>
    </div>
</div>
</template>

<script>
    export default {
        name:'BoardHeader',
        data(){
            return{
              
            }
        },
        mounted(){
         
        },
        methods:{
            openMenu: function( ){
                this.$store.commit('setMenuOpen' );
            }
        },
       
    }

</script>
<style lang="scss" >

@import '~@/assets/scss/main';


.BoardHeader{
    width:100%;
    background :$theme_middle;
    height : 60px;
    float:left;
    position:fixed;
    z-index:100;

   .container{
        width : 100%;
        height : auto;
        min-height:100%;
        overflow:hidden;
        position:relative;
        margin:0px auto;
        padding:0px;
        @include tablet {
        padding:0px $containerPadding;
        }
    }

    .menuLogo{
        position:absolute;
        float:left;
        left: $containerPadding;
        bottom:-4px;
    }

    .menuTab {

        width : 45px;
        height : 33px;
        position:absolute;
        float:right;
        right: $containerPadding;
        bottom:-1px;
        cursor: pointer;

        .menuTabBase {
            width:100%;
            height:100%;
            svg{
                width:100%;
                height:100%;
                fill:$theme_black;
            }
        }

        .font-icon{
            font-family : FontAwesome;
            font-size : 16px;
            line-height : 26px;
            position : absolute;
            top : 3px;
            left: 12px;
            color : $theme_mark;

            i{
            font-style: normal;
            }
        }

    }
    
}
 
</style>
