<template lang="pug">
    div.board-panel
        div.board-panel-advice
            div.container
                div.advice(  v-for="(panel, index) in panels" v-on:click="changePanel(index)" )
                  span.label-icon.fa( v-bind:class="'icon-' + panel.icon" )
                  span.label-title {{ panel.name }}
          
        div.container
          div.container-col.col-big.col-left
            div.widget-row(  v-for="rowList in widgets_left" )
                <Widget :key="'wk' + wItem.id" v-for="wItem in rowList" v-bind:aId="wItem.id + '_' + wItem.board" v-bind:aPosition="wItem.position" :aData="wItem"></Widget>
          
          div.container-col.col-small.col-right
            div.widget-row(  v-for="rowList in widgets_right" )
                <Widget :key="'wk' + wItem.id" v-for="wItem in rowList" v-bind:aId="wItem.id + '_' + wItem.board" v-bind:aPosition="wItem.position" :aData="wItem"></Widget>
           
</template>

<script>
import loadTools from '@/modules/loadTools.js';
import Widget  from '@/components/Widget.vue';

// cRagar configuracion de los widgets creados
// carga los datos de cada

export default {
  name: 'Panel',
  data(){
    return{
      widgets:[],
      widgets_left:[],
      widgets_right:[],
      panels:[],
      reportsRegistry:null
    }
  },
  components: {
      Widget
  },
  mounted(){
    this.loadPanels();
  },
  methods:{
    loadPanels: async function(){

      let _this = this;

      // let longTerm = this.$store.state.longTerm;
      // let Token= await loadTools.token( longTerm );
      // let cToken = Token.access_token.token;
            
      let cToken = this.$store.state.apiToken;
      
      let cloudApiUrl = this.$store.state.apiUrl;
      let boardsUrl = cloudApiUrl + '/registry';
      
      let reportsRegistry = await loadTools.fetchAsyncMD( boardsUrl, cToken )
      reportsRegistry.panels.forEach( function( item, key ){
        _this.panels.push( item.attrs );
      })
      
      
      _this.$store.commit('setPanelsData', _this.panels );
      _this.reportsRegistry = reportsRegistry;

      _this.getReportsRegistry();

    },
    changePanel: async function( aPanelId ){
      let _this = this;
      _this.widgets_left.splice(0, _this.widgets_left.length );
      _this.widgets_right.splice(0, _this.widgets_right.length );
      setTimeout(()=>{
        _this.getReportsRegistry( aPanelId );
      },200);
    },
    getReportsRegistry: async function( aPanelIdx ){
      
      let _this = this;
       
      let panelIndex = ( aPanelIdx !== undefined )? aPanelIdx : this.$store.state.selectedPanel;

      this.widgets =  _this.reportsRegistry.panels[ panelIndex ].widgets;

      var cursor_left = 0;
      var cursor_right = 0;

      var position = 'left';
      
      this.widgets.forEach(function(element, ide) {

        var eSize = element.size;
        
        element.id = ide;
        element.board = panelIndex;
        if( element.active ){
          if( element.panel == 'left' ){
              if( eSize == 100 ){
                position = 'left';
                element.position = position;
                _this.widgets_left.push([ element ])
                cursor_left++;
              }
              else{
                if( position == 'left'){
                  element.position = position;
                  _this.widgets_left.push([ element ])
                  position = 'right';
                  
                }
                else{
                  element.position = position;
                  _this.widgets_left[cursor_left].push( element )
                  cursor_left++;
                  position = 'left';

                }
              }
          }
          else{
            if( eSize == 100 ){
              position = 'left';
              _this.widgets_right.push([ element ])
              cursor_right++;
            }
            else{
              if( position == 'left'){
                element.position = position;
                _this.widgets_right.push([ element ])
                position = 'right';
                
              }
              else{
                element.position = position;
                _this.widgets_right[cursor_right].push( element )
                cursor_right++;
                position = 'left';

              }
            }
          }
        }
      });
    }
  }
}
</script>

<style lang="scss">

@import '~@/assets/scss/main';

.container-col{

  display:block;
  min-width:200px;
  min-height:100%;
  margin:0;

  &.col-small{
    width:100%;
    @include tablet {
      width:35%;
    }
    & .widget.wid-50{
      .widget-header-module.buttons{
        display:none;
      }
    }
  }

  &.col-big{
    width:100%;
    @include tablet {
      width:65%;
    }
  }

  &.col-left{
    float:left; padding:$widgets-dist $widgets-sep $widgets-dist $widgets-dist;
  }

  &.col-right{
    float:right; padding:$widgets-dist $widgets-dist $widgets-dist $widgets-sep;
  }
  
  .widget-row{
    display:block;
    float:left;
    width:100%;
    height:auto;
    overflow:hidden;
    padding:$widgets-sep 0;
  }
}

.board-panel{

  width:100%;
  height:auto;
  background-color:$theme_greys_panel_bg;
  float:left;

  .board-panel-advice{
    height:40px;
    padding:5px 0px;
    border-bottom: 1px solid #ccc;
    background-color:white;

    .advice{
      display:inline-block;
      width:auto;
      height:100%;
      padding:0px 10px;
      cursor:pointer;
      border-right:1px solid $theme_text_middle;

      &:hover{
        text-decoration:underline;
        color:$theme_middle;

      }

      .label-icon{
        color:$theme_text_dark;
        margin-right:5px;
        &.checkbox{
            &.inactived:before{  content:"\f0c8";    }
            &.actived:before{    content: "\f14a";    }
        }

        &.icon-map{
            &:before{ content: "\f3c5";    }
        }
        &.icon-product{
            &:before{ content: "\f02b";    }
        }
        &.icon-poblation{
            &:before{ content: "\f0c0";    }
        }
        &.icon-likes{
            &:before{ content: "\f004";    }
        }
    }

    .label-title{
        display:inline-block;
        color:$theme_text_dark;
        font-size:bold;
        font-size:14px;
    
    }

    } 
  }

}


</style>

