<template lang="pug">
div.widget( v-bind:id="pId" v-bind:class="pSize + ' ' + pPosition + ' ' + pScript")
  div.widget-header
    div.widget-header-module.title
      p( v-bind:id="'header-' + pId")
       | Loading...
    div.widget-header-module.drag
      div.drag-icon
        svg
          use( xlink:href="#icon-dots"  )
    div.widget-header-module.buttons

      div.widget-button-wrapper.button-middle.export
        span.widget-button Export

      div.widget-button-wrapper.button-mark.remove
        span.widget-button
          | Remove
        //-i.fas.fa-times-circle

  div.widget-control( v-bind:id="'ctrl' + pId")

  div.widget-body( v-bind:id="'d' + pId")
    //- div#tooltip
      //- div#container
        //- div#series 

</template>

<script>

import loadTools from '@/modules/loadTools.js';

import widget_timeserie_multilayer from '@/modules/widgets/widget_timeserie_multilayer.js';
import widget_meter_timeserie from '@/modules/widgets/widget_meter_timeserie.js';
import widget_dummy from '@/modules/widgets/widget_dummy.js';
import widget_single_groups_rate from '@/modules/widgets/widget_single_groups_rate.js';
import widget_single_series_groups_rate from '@/modules/widgets/widget_single_series_groups_rate.js';
import widget_selection_donut from '@/modules/widgets/widget_selection_donut.js';
import widget_selection_rows from '@/modules/widgets/widget_selection_rows.js';

const classes = { widget_selection_rows, widget_timeserie_multilayer, widget_meter_timeserie, widget_dummy, widget_single_groups_rate, widget_single_series_groups_rate, widget_selection_donut }; 
//loadTools.obj2obj( )

export default {
  name:'Widget',
    data(){
      return{
        pId: "wid-" + this.aId,
        pSize: "wid-" + this.aData.size,
        pPosition: "wid-" + this.aPosition,
        pScript: this.aData.widget_script,
        pData:  this.aData
      }
    },
    props:[
      "aId", "aSize", "aPosition", "aData"
    ],
   
    created(){
      this.buildWidget( );
    },
    watch: {
      aId(value) {
        this.pId = "wid-" + value;
        console.log( value )
      },
      aData(value) {
        this.pData = loadTools.obj2obj( this.aData );
        //this.getWidgetData();
        
      },
      aPosition(value) {
        this.iPosition = "wid-" + value;
      }
    },   
    methods:{
       buildWidget: function( ){
        
        let _this = this;
        //get report Data
        this.getReportContent( this.pData.mongo_doc, this.pData.meta.collection )
        .then(
          function( reportData ){
            //call component class dinymically
            classes[ _this.pData.widget_script ].init( _this.pId, reportData );
          },
          function( error ){
            //console.log("error", error)
          }
        )
      },
      getReportContent: async function( docId, collectionName ) {
        //apiUrl = https://shielded-plateau-42619.herokuapp.com/report/?doc=5b10046b9c99ea2f18674fa4
        let cloudApiUrl = this.$store.state.apiUrl;
        //let reportUrl = 'http://localhost:3000/report?doc='  + docId ;
        let reportUrl = cloudApiUrl +  '/report?doc='  + docId + "&collection=" + collectionName ;
        let reportData = await loadTools.fetchAsyncMD( reportUrl )
        return reportData;
      },
    },
  
       
}

</script>

<style lang="scss">

@import '~@/assets/scss/main';

$headerModuleHeight:30px;

.widget-flow{
  position:absolute;
  min-height:17px;
  height:auto;
  overflow:hidden;
  width:auto;
  min-width:75px;
  background-color:$theme_middle;
  color:white;
  border:1px solid rgba(#888,.5);
  top:0px;
  left:0px;
  display:none;
  font-size:11px;
  line-height:13px;
  padding:2px;
}

.widget{
    display:block;
    height:auto;
    background : $theme_greys_widget_bg;
    width:100%;
    overflow:hidden;
    // @include transition_mix( height .4s ease-in-out .2s );
    // @include box-shadow( 0px 0px 16px 0px rgba(0,0,0,0.25) );
    @include border-radius( 4px );

    &.wid-100{ 
      width:100%;
      float:left;
      // margin-bottom: #{$widgets-sep};
    }
    &.wid-50{
      width:calc( 50% - #{$widgets-sep});
      float:left;
    }

    &.wid-left{
      margin-right:$widgets-sep;
    }
    &.wid-right{
      margin-left:$widgets-sep;
    }

    @import "~@/assets/scss/widget/widget_header";
    @import "~@/assets/scss/widget/widget_control";
    @import "~@/assets/scss/widget/widget_body";
    @import "~@/assets/scss/widget/widget_button";

  }

  @import "~@/assets/scss/widgets/widget_timeserie_multilayer";
  @import "~@/assets/scss/widgets/widget_meter_timeserie";
  @import "~@/assets/scss/widgets/widget_dummy";
  @import "~@/assets/scss/widgets/widget_single_groups_rate";
  @import "~@/assets/scss/widgets/widget_single_series_groups_rate";
  @import "~@/assets/scss/widgets/widget_selection_donut";
  @import "~@/assets/scss/widgets/widget_selection_rows";

</style>
