
.widget-button-wrapper{

  display:inline-block;
  //border: 1px solid rgba(82, 92, 102, 1);
  width : auto;
  //min-width:80px;
  height : 15px;
  vertical-align:middle;
  margin-top:12px;
  @include border-radius( 8px );
  float:right;
  line-height: 15px;
  color:white;
  font-size:11px;
  padding: 0px 10px;
  cursor: pointer;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;

  /*
    Introduced in IE 10.
    See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
  */
  -ms-user-select: none;
  user-select: none;

  &.button-mark{
    background-color: $theme_mark;
  }
  &.button-middle{
    background-color: $theme_text_dark;
  }

  &:not(:last-of-type) {
    margin-left:5px;
  }

  &.remove{

  }

  &.save{

  }
  // .widget-button{
  //     display:inline-block;
  //     #border: 1px solid rgba(82, 92, 102, 1);
  //     width : 80px;
  //     height : 20px;
  //     @include border-radius( 8px );
  //     //position: relative;
  //     line-height: 19px;
  //     background-color: $theme_black;
  //
  //     p{
  //       display:inline-block;
  //       color:$theme_text_light;
  //     }
  //
  // }
  i{
    display:none;
    //display:inline-block;
    font-size:11px;
    position: relative;
    // top:0px;
    margin-left:8px;
    &.fa-arrows-alt-v{
        left: 10px;
    }
  }

}
