.widget-header{

  width:100%;
  float:left;
  height: $headerModuleHeight;

  .widget-header-module{

    float:left;
    height: 100%;
    padding:5px 0;

    p {
      font-family: $font-1;
      color:$theme_text_dark;
      font-size : 10px;
      line-height: $headerModuleHeight - 3;
      text-align: center;
      height:100%;
      overflow:hidden;
    }


    &.title{
      padding-left: 10px;
      p{
        font-size : 12px;
      }
    }

    &.buttons{
      display:none;
      padding: 0 20px 0 10px;
      background-color:transparent;
      width : auto;
      //min-width:270px;
      float:right;
      p{
        text-align: left;
        width:100%;
      }
    }

    &.drag{
      position: relative;
      float:right;
      right:8px;
      width : 15px;
      height:$headerModuleHeight;

      .drag-icon{
        position: absolute;
        top:10px;
        left:0px;
        width:100%;
        height:20px;

        svg{
          width:100%;
          height:100%;
          fill:$theme_text_dark;
        }
      }
    }

    //optional
    &.separator{
        p, div {
            border-right: 1px solid rgba(0,0,0,0.1);
        }
    }

  }
}
