.widget-body{
  width:calc( 100% - 10px );
  height:auto;
  float:left;
  margin:5px;
  position:relative;


  #tooltip {
    background: rgba(255, 255, 255, 0.92);
    position:absolute;
    height:auto;
    visibility:hidden;
    z-index:9999;
    padding:5px;
    border: 1px solid #ddd;
    padding: 5px 15px 5px 15px;
    font-family: arial, sans-serif;
    -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    font-size:11px;
  }

}
