.widget-control{

    width:100%;
    float:left;
    min-height: $headerModuleHeight;
    padding:5px;

    select{
        display:inline-block;
        float:right;
        background-color: #cccccc;
        color: #525252;
        border: none;
        margin-left:5px;

        option{
            height:13px;
            font-size:11px;
            padding:0 !important;
            &:checked{
                background-color:$theme_middle;
                color:white;
            }
            &:focus{
                background-color:$theme_mark;
                color:$theme_middle;
            }
           
        }
        

    }

}
