@font-face {
  font-family: 'Open Sans', sans-serif;
  src : url( '~@/assets/fonts/Open_Sans/OpenSans-Regular.ttf') format('truetype')
}





h1{

  font-weight : 600;
  font-size : 35px;
  color: $black;
  letter-spacing: -0.02em;

  @include tablet {
    font-weight : 400;
    font-size : 49px;
  }
}



h2{
  font-weight : bold;
  font-size : 42px;
  color: $black;
  letter-spacing: -0.03em;
  font-weight : 600;

}

h3{
  font-weight : bold;
  font-size : 24px;
  color: $black;
  letter-spacing: -0.03em;
  font-weight : 600;

}


.advice{
  line-height: 30px;
  font-size:12px;
  color:$theme_text_dark;
}
