.pd-l0{ padding-left:0px;}
.pd-r0{ padding-right:0px;}
.pd-b0{ padding-bottom:0px;}
.pd-t0{ padding-top:0px;}

.mt-0 {  margin-top: 0px; }
.mt-10 {  margin-top: 10px; }
.mt-20 {  margin-top: 20px; }
.mt-30 {  margin-top: 30px; }
.mt-40 {  margin-top: 40px; }
.mt-50 {  margin-top: 50px; }
.mt-60 {  margin-top: 60px; }
.mt-70 {  margin-top: 70px; }
.mt-80 {  margin-top: 80px; }
.mt-90 {  margin-top: 90px; }
.mt-100 {  margin-top: 100px; }

.mb-0 {  margin-bottom: 0px; }
.mb-10 {  margin-bottom: 10px; }
.mb-20 {  margin-bottom: 20px; }
.mb-30 {  margin-bottom: 30px; }
.mb-40 {  margin-bottom: 40px; }
.mb-50 {  margin-bottom: 50px; }
.mb-60 {  margin-bottom: 60px; }
.mb-70 {  margin-bottom: 70px; }
.mb-80 {  margin-bottom: 80px; }
.mb-90 {  margin-bottom: 90px; }
.mb-100 {  margin-bottom: 100px; }


.mt-n10 {  margin-top: -10px; }
.mt-n20 {  margin-top: -20px; }
.mt-n30 {  margin-top: -30px; }
.mt-n40 {  margin-top: -40px; }
.mt-n50 {  margin-top: -50px; }
.mt-n60 {  margin-top: -60px; }
.mt-n70 {  margin-top: -70px; }
.mt-n80 {  margin-top: -80px; }
.mt-n90 {  margin-top: -90px; }
.mt-n100 {  margin-top: -100px; }

.mb-n10 {  margin-bottom: -10px; }
.mb-n20 {  margin-bottom: -20px; }
.mb-n30 {  margin-bottom: -30px; }
.mb-n40 {  margin-bottom: -40px; }
.mb-n50 {  margin-bottom: -50px; }
.mb-n60 {  margin-bottom: -60px; }
.mb-n70 {  margin-bottom: -70px; }
.mb-n80 {  margin-bottom: -80px; }
.mb-n90 {  margin-bottom: -90px; }
.mb-n100 {  margin-bottom: -100px; }


.ml-0 {  margin-left: 0px; }
.ml-10 {  margin-left: 10px; }
.ml-20 {  margin-left: 20px; }
.ml-30 {  margin-left: 30px; }
.ml-40 {  margin-left: 40px; }
.ml-50 {  margin-left: 50px; }
.ml-60 {  margin-left: 60px; }
.ml-70 {  margin-left: 70px; }
.ml-80 {  margin-left: 80px; }
.ml-90 {  margin-left: 90px; }
.ml-100 {  margin-left: 100px; }

.ml-n10 {  margin-left: -10px; }
.ml-n20 {  margin-left: -20px; }
.ml-n30 {  margin-left: -30px; }
.ml-n40 {  margin-left: -40px; }
.ml-n50 {  margin-left: -50px; }
.ml-n60 {  margin-left: -60px; }
.ml-n70 {  margin-left: -70px; }
.ml-n80 {  margin-left: -80px; }
.ml-n90 {  margin-left: -90px; }
.ml-n100 {  margin-left: -100px; }



.a_left{  float:left; }
.a_right{  float:right; }
