
$font-1:"Open Sans";
$font-b:"Open Sans";

$white: #FFF;
$grey: #F2F2F2;
$black: #000;



$dark: rgba(41, 43, 60, 1); //#292B3C;
$middle: rgba( #203558, 1); //#3B4054;


$theme_black: #1a2641;
$theme_dark: #1e2e49;
$theme_middle: #203558;
$theme_light: #dfe2e6;
$theme_white: #ffffff;

$theme_mark: #20cdbe;

$theme_text_dark: #717c8d;
$theme_text_middle: #d1cecb;
$theme_text_light: #20cdbe;

$theme_greys_panel_bg:  #f5f6f8;
$theme_greys_widget_bg: rgba( #dfe2e6, .5);

$theme_colors_00:#1bb0d5;
$theme_colors_01:#fd6c87;
$theme_colors_02:#f33;
$theme_colors_03:#f33;
$theme_colors_04:#f33;
$theme_colors_05:#f33;
$theme_colors_06:#f33;
$theme_colors_07:#f33;



$colorReady: $middle;
$colorRunning: #3fa9f5;
$colorSuccess: #39b54a;
$colorFailed: #f00;

//LAYOUT Variables

//Used in container left/right padding and in absolute positioned elements like logo and tab-button
$containerPadding: 30px;

$widgets-dist: 6px;
$widgets-sep: $widgets-dist / 2;
